body {
  background-color: #2c9dc6;
  font-family: "Frutiger";
}
h2 {
  cursor: default;
  font-family: "MarkerFelt";
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}

h3 {
  cursor: default;
  font-family: "MarkerFelt";
  color: white;
  margin-left: 400px;
  margin-top: 50px;
  font-size: 30px;
}

h4 {
  cursor: default;
  font-family: "Frutiger";
  font-size: 21px;
}

.Danksagung {
  font-family: "Frutiger";
  width: 920px;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

p {
  cursor: default;
  font-family: "Frutiger";
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.Quellen {
  margin-left: 400px;
  cursor: default;
  font-family: "Frutiger";
  color: white;
  text-align: left;
  margin-top: 10px;
  font-size: 20px;
  margin-right: auto;
}
