body {
  background-color: #2c9dc6;
}
h2 {
  cursor: default;
  font-family: "MarkerFelt";
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}

h3 {
  cursor: default;
  font-family: "MarkerFelt";
  color: white;
  margin-left: 400px;
  margin-top: 50px;
  font-size: 30px;
}

p {
  cursor: default;
  font-family: "Frutiger";
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}
