body {
  background-color: #2c9dc6;
}

h2 {
  cursor: default;
  font-family: "MarkerFelt";
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}

.about {
  width: 920px;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

p {
  cursor: default;
  font-family: "Frutiger";
  color: white;
  text-align: center;
  margin-top: 20px;

  font-size: 20px;
}

h3 {
  cursor: default;
  font-family: "MarkerFelt";
  color: white;
  /* text-align: center; */
  margin-left: 400px;
  margin-right: auto;
  margin-top: 50px;
  font-size: 30px;
}

.flex-container {
  display: flex;
  justify-content: center;
}
.flex-item1 {
  background: url("images/StartButton.png");
}
.flex-item2 {
  background: url("images/MentorVirus_html.png");
}
.flex-item3 {
  background: url("images/html_hände.png");
}
.flex-item4 {
  background: url("images/html_peoplebouncy_girl.png");
}

/* .flex-item1:hover {
  background: url("images/leander.jpeg");
  background-size: contain;
}
.flex-item2:hover {
  background: url("images/diandra.jpg");
  background-size: contain;
}
.flex-item3:hover {
  background: url("images/marie.jpg");
  background-size: contain;
}
.flex-item4:hover {
  background: url("images/flo.jpg");
  background-size: contain;
} */

.pnground {
  margin: 20px;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  background-size: contain;
}
.topic {
  cursor: default;
  font-family: "MarkerFelt";
  color: white;
  text-align: center;
  margin-top: 225px;
  font-size: 30px;
}
.detail {
  height: 200px;
  cursor: default;
  font-family: "Frutiger";
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
