body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "MarkerFelt";
  src: url(/typo/MarkerFelt.ttf) format("truetype");
}

#typo1 {
  font-family: "MarkerFelt";
}

* {
  margin: 0;
  padding: 0;
}

#p5 {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-left: -7.8px;
  margin-right: -7.8px;
  background: #b761cf;
  align-items: center;
}

.navigation a {
  font-family: "MarkerFelt";
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: rgb(153, 73, 175);
}

.navigation h1 {
  font-size: 25px;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: default;
  font-family: "MarkerFelt";
  color: white;
}
