body {
  background-color: #3a6270;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: "MarkerFelt";
  src: url(/typo/MarkerFelt.ttf) format("truetype");
}

#typo1 {
  font-family: "MarkerFelt";
}

* {
  margin: 0;
  padding: 0;
}
