body {
  background-image: url("images/loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#p5_loading {
  position: relative;
  width: 656px;
  height: 368px;
  background: url("images/loading.gif");
  background-size: contain;
}
