body {
  background-color: #2c9dc6;
}

@font-face {
  font-family: "MarkerFelt";
  src: url(/typo/MarkerFelt.ttf) format("truetype");
}
#typo1 {
  font-family: "MarkerFelt";
}

h2 {
  cursor: default;
  font-family: "MarkerFelt";
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}

.flex-container {
  display: flex;
  justify-content: center;
}
.flex-item1 {
  background: url("images/leander_gez.png");
}
.flex-item2 {
  background: url("images/diandra_gez.png");
}
.flex-item3 {
  background: url("images/marie_gez.png");
}
.flex-item4 {
  background: url("images/flo_gez.png");
}

.flex-item1:hover {
  background: url("images/leander.jpeg");
  background-size: contain;
}
.flex-item2:hover {
  background: url("images/diandra.jpg");
  background-size: contain;
}
.flex-item3:hover {
  background: url("images/marie.jpg");
  background-size: contain;
}
.flex-item4:hover {
  background: url("images/flo.jpg");
  background-size: contain;
}

.pnground {
  margin: 10px;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  background-size: contain;
}
